
.slider-btn1{
    background:#9bd230   !important;
    border: 1px solid #9bd230  ;
}
.tp-caption span,.gradient,.about ul li:before {
    background:none !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: #9bd230  !important;
}

.navbar-nav .text-black.active {
    border: 1px solid #9bd230;
    background: #9bd230;
    color: #FFFFFF;
}
.top-center-logo .navbar-nav .text-black:hover, .top-fixed-nav .navbar-nav .whitecolor:hover, .top-center-logo .navbar-nav .whitecolor:hover {
    color: #9bd230 !important;
}
.navbar-nav .text-black.active:hover, .top-center-logo .navbar-nav .whitecolor.active:hover,.top-fixed-nav .navbar-nav .whitecolor.active {
    color: #FFFFFF !important;
}
.hr-line,.feature-box:before, #testimonial-slider .owl-item:nth-child(2n) .testimonial-wrapp .quoted,
#testimonial-slider .owl-item:nth-child(2n) .testimonial-wrapp:hover .testimonial-text, .owl-testimonial .owl-dots .owl-dot span, .port-box,
.portfolio-three .item-img-overlay:before,.price-box:before,.img-hvr:hover .date,.hvr-shutter-out-horizontal-blk:before,.back-top,::-webkit-scrollbar,
::-webkit-scrollbar-thumb,#loader ul li:nth-child(odd){
    background: #9bd230;
}
.rare-box,.hvr-shutter-out-horizontal:before,.team-image,.team-image2,.hvr-team:before,.hvr-team2:before, .owl-testimonial .owl-dots .owl-dot.active span,
.owl-testimonial .owl-dots .owl-dot span:hover, .testimonial-wrapp .quoted,.testimonial-wrapp:hover .testimonial-text,.port-box:before,
.header-appear .side-logo-nav.bg-gradient, .counter.bg-gradient,.side-menu,.address,
.header-appear .side-logo-nav.bg-transparent .navbar-nav .whitecolor.active,.back-top::before,#loader ul li:nth-child(even),.top-fixed-nav .navbar-nav .whitecolor.active
{
    background:#00bcd4;
}
.icon-block:hover .counters h3, .icon-block:hover .counters h3 i {
    background:none !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: inherit !important;
}
.button-play{
    color: #fff;
    background: #9bd230;
}
.button-play:hover, .button-play:focus {
    color: #9bd230;
    background: #FFFFFF;
}
.button-play:hover i, .button-play:focus i {
    color: #9bd230;
}
.team-box:nth-child(3n-2) .overlay, .team-box.firstcolor .overlay,.team-box:nth-child(3n) .overlay, .team-box.secondcolor .overlay,
.team-box:nth-child(2n) .overlay, .team-box.thirdcolor .overlay,.cbp-l-grid-mosaic-flat .cbp-caption-activeWrap {
    background: rgba(155, 210, 48, .7);
}
.bg-counter-light .icon-counters:hover .img-icon {
    color: #fff;
    background: #9bd230;
}
#our-testimonial .owl-theme .owl-dots .owl-dot span, .slider-btn1:hover{
    border: 1px solid #00bcd4;
}
#our-testimonial .owl-theme .owl-dots .owl-dot.active span, #our-testimonial .owl-theme .owl-dots .owl-dot:hover span {
    background: #00bcd4;
    border: 1px solid #00bcd4;
}
.port-box .btn:hover, .port-box .btn:focus,.portfolio-three .filtering .active {
    color: #9bd230;
}
.price-box .btn:hover, .price-box .btn:focus {
    color: #9bd230 !important;
}
.custom-btn2:hover, .custom-btn2:active, .custom-btn2:focus {
    border: 1px solid #ffffff;
}
.custom-btn1 {
    background: #00bcd4 !important;
    border: 1px solid #00bcd4;
}
.hvr-shutter-out-horizontal-blk:hover, .hvr-shutter-out-horizontal-blk:focus, .hvr-shutter-out-horizontal-blk:active {
    color: white;
    border: 1px solid #9bd230;
}

